.weather{
    background: url('./../icons/weather.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.dome{
    background: url('./../icons/dome.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.record{
    background: url('./../icons/record.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.ascom{
    background: url('./../icons/ascom.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.camera{
    background: url('./../icons/camera.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
}

.iconSize{
    width:40px;
    height:40px
}

.wi{
    font-size: 20px;
    color: dodgerblue
}


.spinner {
  width: 70px;
  text-align: center;
  margin-left: 2.0em;
  display:flex;
}

.spinner > div {
  width: 1em;
  height: 1em;
  background-color: coral;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  align-self: center;
  margin-right: 0.5em;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  align-self: center;
  margin-right: 0.5em;
  
}

.bounce3 {
  align-self: center;
  margin-right: 0.5em;
    
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.popover-title{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    }

